/* Universal Selector*/
* {
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

/* Background GIF - 1st Page */
#background-beer {
    width: 100%;
    height: 100%;
}

/* Background Image - 2nd Page */
#background-bar{
    width: 100%;
    height: 100%;
}

/* Background Container */
#background-container{
    /* background: url('../images/barBackground.jpeg');  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Body */
body {
    /* background-image: url('TravelNiche-App/assets/images/BEER.gif'); */
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    text-align: -webkit-center;

}

/* 'Find Bars' Button */
#find-button{
    width: fit-content;
    justify-self: center;
    font-weight: bold;
    padding: 10px;
}

/* Autocomplete Search Result */
#search-result {
    background: #fff;
}

/* Autocomplete Search Result - Active State */
#search-result.active {
    display: block;
    width: fit-content;
    justify-self: center;
}

/* Autocomplete Search Result - Hover */
#search-result:hover {
    cursor: pointer;
}

/* #date-picker {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

#date-picker:hover {
    cursor: pointer;
} */

/* Main Container */
#main-container {
    padding: 10px;
    margin: 10px;
    display: grid;
    /* margin-top: -650px; */
    margin-top: -40%;

    width: 80%;
}

/* Container Fluid */
.container-fluid {
    padding: 0;
}

/* Search Bar */
#search {
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    justify-self: center;
    padding: 5px;
    border-radius: 25px;
}

/* Buttons */
.button {
    border-radius: 5px;
    padding: 5px;
    
}

/* Buttons - Hover */
.button:hover {
    background-color: rgb(252, 185, 40);
    color: white;
    transition: 0.3s;
}

/* Hide */
.hide {
    display: none !important;
}

/* Cards */
.card{
    margin: 15px;
    width: 100%;
    height: 100%;
}

/*#card-container {
    display: flex;
    flex-wrap: wrap;
}*/

/* 'Go Back' Button */
#back-button{
    margin: 5px 15px 0 15px;
}

/* Card Images */
.card-img-top{
    height: -webkit-fill-available;
}

/* Checklist Container */
#checklist-container{
    color: #fff;
    background-color: #3c2f0d;
    font-size: large;
    width: fit-content;
    padding: 10px;
    margin: 10px;
}

/* Title */
#title{
    font-family: 'Lobster', cursive !important;
    font-size: xx-large;
    color: black;
}

/* City List */
#city-list{
    display: inline-grid;
    margin-top: 10px;
}

/* City List Buttons */
#city-list button{
    margin-bottom: 5px;
    max-width: 300px;
    overflow: hidden;
    justify-content: flex-start;
}

@media screen and (max-width: 900px) {
   #background-beer{
    height: 100vh;
   }

   #main-container{
    margin-top: -170%;
   }

   #search{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
   }

   #city-list{
    margin-top: 0%;
   }

   #search-result.active{
    max-width: 300px;
   }

   .overflow{
    overflow: hidden;
   }

   .container{
    padding: 0;
   }

}