* {
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

#background-beer {
    width: 100%;
    height: 100%;
}

#background-bar{
    width: 100%;
    height: 100%;
}

#background-container{
    background: url('../images/barBackground.jpeg');
}

body {
    /* background-image: url('TravelNiche-App/assets/images/BEER.gif'); */
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

#find-button{
    width: fit-content;
    justify-self: center;
}

body {
    text-align: -webkit-center;
}


#search-result {
    background: #fff;
}

#search-result.active {
    display: block;
    width: fit-content;
    justify-self: center;
}

/* #date-picker {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

#date-picker:hover {
    cursor: pointer;
} */

#main-container {
    border: solid 2px;
    padding: 10px;
    margin: 10px;
    display: grid;
    margin-top: -500px;
    width: 80%;
}

#search-result:hover {
    cursor: pointer;
}
/* Attached css belonging to dropdown*/
dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}

/* end of attachement- dropdown*/
.container-fluid {
    padding: 0;
}

#search {
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    justify-self: center;
    padding: 5px;
}

.button {
    border-radius: 5px;
    padding: 5px;
}

.button:hover {
    background-color: rgb(252, 185, 40);
    color: white;
    transition: 0.3s;
}

.hide {
    display: none !important;
}

.card{
    margin: 15px;
}

#back-button{
    margin: 15px 15px 0 15px;
}