* {
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

#background-beer {
    width: 100%;
    height: 100%;
}

#background-bar{
    width: 100%;
    height: 100%;
}

#background-container{
    background: url('../images/barBackground.jpeg');
}

body {
    /* background-image: url('TravelNiche-App/assets/images/BEER.gif'); */
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

#find-button{
    width: fit-content;
    justify-self: center;
}

body {
    text-align: -webkit-center;
}


#search-result {
    background: #fff;
}

#search-result.active {
    display: block;
    width: fit-content;
    justify-self: center;
}

/* #date-picker {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

#date-picker:hover {
    cursor: pointer;
} */

#main-container {
    border: solid 2px;
    padding: 10px;
    margin: 10px;
    display: grid;
    margin-top: -500px;
    width: 80%;
}

#search-result:hover {
    cursor: pointer;
}

.container-fluid {
    padding: 0;
}

#search {
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    justify-self: center;
    padding: 5px;
}

.button {
    border-radius: 5px;
    padding: 5px;
}

.button:hover {
    background-color: rgb(252, 185, 40);
    color: white;
    transition: 0.3s;
}

.hide {
    display: none !important;
}

.card{
    margin: 15px;
}

#back-button{
    margin: 15px 15px 0 15px;
}